body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-y: visible; 
    overflow-x: hidden;
}

.container {
    display: flex;
    background:  #eeeeee  ;
    height: 100%;
    width: 100vw;
    margin: 0;
    flex-direction: column;
    align-items: center;
    overflow-y: visible;
    color: black;
    transition: background-color 0.2s, color 0.3s;
}

.header-container {
    display: flex;
    align-items: center;
    max-width: 90%;
    flex-direction: column;
}

.body-wrap-1 {
    display: flex; 
    height: 10vh; 
    min-height: 100px;
}

.body-wrap-2 {
    display: flex; 
    height: 5vh; 
    min-height: 40px;
}

.body-wrap-3 {
    display: flex; 
    height: 15px; 
}

.color-filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(232, 174, 71, 0.3);
    z-index: 1;
    transition: background-color .5s; 

}

/* Text Elements & Positioning*/

h1 {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin: 10px;
}

.ani-text-2 {
    display: flex;
}

.failover-text {
    display: none;
}


h2 {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
}

h3 {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 300;
    font-size: .9rem;
}

h4 {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0;
}

h5 {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 300;
    font-size: .8rem;
    margin: 0;

}

h6 {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;

}

.h7 {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 400;
    font-size: .85rem;
    margin-top: 0vw;
    margin-bottom: 0;
    letter-spacing: .2em;
    text-transform: uppercase;
}

/* Nav Elements */

.nav-wrapper {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);    
    height: 60px;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 55vw;
    position: fixed; 
    z-index: 100;
    margin: 0;
}

a {
    list-style: none;
    text-decoration: underline;
    color: grey; 
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 0;
}

li {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 500;
    font-size: .9rem;
    padding: 10px 10px;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.3s;
}

li:hover {
    display: flex;
    background-color: #e8ae47;
    padding: 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-size: .9rem;
    cursor: pointer;
    color: black;
    transition: background-color 0.5s, color 0.3s;
}


/* Project Columns & Rows */


.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 1.5vw;
    flex-direction: row;
    gap: 2vw;
}

.p-txt-con {
    display: flex; 
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);    
    padding: 8px 20px;
    border-radius: 15px;
    z-index: 10;
    margin-top: 4vh;
    max-width: 40%;
    margin-right: 4%;
    position: relative; 
    transition: opacity .5s, visibility .5s; 

}

/* Project Four */

.wordpress {
    display: flex;
    background-color: #e8ae47;
    background-image: url('/src/lib/ai-bg-01.png');
    background-size: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    max-height: 900px;
    width: 70%; 
    min-width: 400px;
    transition: border 0.5s, color 0.3s, margin-top 0.5s, background-color .5s;
    border: 1.5px solid #bdbdbd; 
    border-radius: 30px;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-end;
    position: relative;
}

.doodle-bot {
    display: flex;
    position: relative;
    background-image: url('/src/lib/doodle-01.png');
    background-position: center;
    background-size: 70vw; 
    background-repeat: no-repeat;
    background-color: #e8ae47;
    height: 60vh;
    min-height: 700px;
    max-height: 900px;
    width: 70%; 
    transition: border 0.5s, color 0.3s, margin-top 0.5s;
    border: 1.5px solid #d5d5d5;
    border-radius: 30px;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-end;

}

.google-storage {
    display: flex;
    position: relative;
    background-color: #e8ae47;
    background-image: url('/src/lib/google-proj-01.png');
    background-size: 60vw; 
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-end;
    height: 60vh;
    max-height: 900px;
    min-height: 700px;
    transition: border 0.5s, margin-top 0.5s; 
    width: 70%; 
    border-radius: 30px;
    flex-direction: column;
    overflow: hidden;
    border: 1.5px solid #d5d5d5;
}

.doodle-bot:hover, .wordpress:hover, .google-storage:hover {
    display: flex;
    transition: border 0.5s, color 0.3s, margin-top 0.5s;
    cursor: pointer;
    border: 1.5px solid #a6741e; 

}


.wordpress:hover .color-filter {
    background-color: rgba(232, 174, 71, 0);
    transition: background-color .5s; 
}

.wordpress:hover .p-txt-con {
    opacity: 1; 
    visibility: visible;
    transition: opacity .5s, visibility .5s; 
}

.doodle-bot:hover .color-filter {
    background-color: rgba(232, 174, 71, 0);
    transition: background-color .5s; 
}

.doodle-bot:hover .p-txt-con {
    opacity: 1; 
    visibility: visible;
    transition: opacity .5s, visibility .5s; 
}

.google-storage:hover .color-filter {
    background-color: rgba(232, 174, 71, 0);
    transition: background-color .5s; 
}

.google-storage:hover .p-txt-con {
    opacity: 1; 
    visibility: visible;
    transition: opacity .5s, visibility .5s; 
}


/* View all work button */

.view-all {
    display: flex;
    align-self: center;
    border: 1px solid #bdbdbd;
    background-color: white;
    color: black;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 400; 
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.3s, scale 0.5s;
}

.view-all:hover {
    display: flex;
    align-self: center;
    border: 1px solid #e0e0e0;
    background-color: #e8ae47;
    color: black;
    font-weight: 400;     
    font-family: -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    transition: background-color 0.5s, color 0.3s, scale 0.5s;
    cursor: pointer;
}


.up-to {
    display: flex;
    font-size: 2rem;
}

.bottom-row {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 10px;
}

.up-to-photo {
    border-radius: 30px;
    min-height: 400px;
    max-height: 400px;

}

.work-column {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: white; 
    border: 1px solid #e0e0e0; 
    width: 28%;
    min-height: 400px;
    max-height: 400px;
    border-radius: 30px;
}

.work-text-container { /* this contianer holds the text inside of the work column work-column > work-text-cont > blurb-container(s)*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blurb-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Footer Elements */ 

.footer-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px; 
    background-color: white;
    gap: 50vw;
}

.footer-text-no-margin{
    margin: 2px; 
}

.footer-li-container {
    display: flex;
    flex-direction: column;
}

.footer-li-container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 
}

.selected-work {
    display: flex; 
    flex-direction: row;
    color: gray;
    scale: 0.75; 
    align-items: flex-start;
    width: 90%;
    margin-bottom: 10px;
}

@media all and (min-width: 2200px) {
    .wordpress {
        background-size: 60%;
    }

}


/*Med screen queries*/

@media all and (max-width: 1024px) {
    .project-container {
        flex-direction: column;
    }

    .doodle-bot, .doodle-bot:hover, .google-storage, 
    .google-storage:hover, .nasa, .nasa:hover, .wordpress, 
    .wordpress:hover {
        width: 100%;
        min-width: 0px;
    }


    .nav-wrapper {
        gap: 40vw; 
    }

    .footer-page {
        gap: 30vw; 
    }

}




/*Small screen queries*/


@media all and (max-width: 670px) {

    /*text elements*/

    h1 {
        font-size: 2.6rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    .h7 {
        font-size: .7rem;
    }

    .up-to {
        font-size: 2rem;
    }





    .nav-wrapper {
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .logo-title {
        display: none; 
    }

    ul {
        gap: 8vw;  
        justify-content: center;
        padding: 0;
        margin: 0; 
    }

    li {
        font-weight: 400;
    }

    .ani-text-2 {
        display: none; 
    }

    .failover-text {
        display: flex; 
        font-size: 1.2rem;
        max-width: 90%;
        text-align: center;
    }



    .projects-container, .projects-container-2 {
        align-items: center;
        justify-content: center;
        gap: 2.5vh; 

    }

    .doodle-bot, .doodle-bot:hover, .google-storage, 
    .google-storage:hover, .nasa, .nasa:hover, .wordpress, 
    .wordpress:hover {
        width: 100%;
        min-width: 0px;
    }


    .body-wrap-2 {
        height: 50px;
    }


    .footer-page {
        height: 350px; 
        flex-direction: column;
        gap: 20px; 
    }

    .footer-li-container, .footer-li-container-2 {
        align-items: center;
    }

}

